Incompatibility for RFC5425

## Description of the problem
I want to provide a secure connection for the transport of syslog messages which refers to rfc5425.  All syslog messages must be sent as TLS "application data" according to RFC5425. But received syslog messages from TLS client could not parsed and displayed properly by syslog-ng in TLS server. Because it is not compatible with RFC5425.

## Proposed solution
Release of update version according to RFC5425 message format. 

## Additional context
I am currently using version 3.35.1 of syslog-ng.


Hi,

Thank you for opening this issue.

Could you share a few example inputs that you had trouble with?

(As far as I know, we are fully compatible with RFC 5425.)

RFC5424 specifies the message format, rfc5425 and rfc5426 are transport
mechanisms for said message format.

Rfc5425 is about the TLS transport, which uses octet counting.

syslog-ng supports this format both when wrapped in TLS or only using TCP,
using the syslog() driver.

What is your syslog-ng config?

On Mon, Oct 31, 2022, 09:26 caglarkarahan ***@***.***> wrote:

> Hi, I have used https://github.com/jenkinsci/syslog-java-client as a
> client app. Below syslog messages are provided by java client app. First
> one has RFC 5424 message format. Second one has RFC 5425 message format. As
> you can see syslog-ng server does not parse RFC 5425 message format
> properly. Message length section is the difference between RFC5424 and
> 5425. And according to documentation, I could not see the RFC 5425 support
> for syslog-ng server.
>
> Oct 31 07:17:35 192.168.56.1 myapp: Caglar
> Oct 31 10:17:48 192.168.56.1 61 <14>1 2022-10-31T07:17:48.348Z mysecretkey
> myapp - - - Caglar
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/syslog-ng/syslog-ng/issues/4176#issuecomment-1296755039>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAFOK5X5WT3FU43JFFA5YWTWF57ELANCNFSM6AAAAAARLDXMQI>
> .
> You are receiving this because you are subscribed to this thread.Message
> ID: ***@***.***>
>


The `syslog()` driver can be used for framed data. You are probably using `network()` instead.

In case of changing driver as network(), now server does not get syslog messages which are RFC 5424 format. Can I receive and parse both message type and declare both driver?

You can find configuration below.

#############################################################################
# Default syslog-ng.conf file which collects all local logs into a
# single file called /var/log/messages.
#

@version: 3.35
@include "scl.conf"

source s_local {
	system();
	internal();
};

source s_network {
	syslog(
		ip(192.168.56.112)
		port(6514)
		transport("tls")
		max-connections(500)
		log-iw-size(5000)
		so-rcvbuf(5120000)
		flags(syslog-protocol)
		tls(
		    key-file("/home/caglar/Documents/Certificates/Server/key.pem")
		    cert-file("/home/caglar/Documents/Certificates/Server/cert.pem")
		    peer-verify("optional-untrusted")
		    ssl-options(no-sslv2,no-sslv3,no-tlsv1,no-tlsv11)
		    cipher-suite("ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA384")
		)
};

destination d_local {
	file("/usr/local/var/log/messages");
};

log {
	source(s_network);
	destination(d_local);
};

There are two issues at play at the same time:

   - the transport of the log data, e.g. the port number, the transport
   protocol  (UDP/TCP), whether you use TLS and whether you use RFC5425 style
   octet-counted framing
   - the formatting of the log data, e.g. the traditional BSD format
   (RFC3164) or the newer format documented in RFC5424

You can configure all of these combinations, and you can have multiple
sources configured at the same time, albeit only at different ports.

The network() driver is intended to be applied to traditional BSD-like logs
(e.g. RFC3164) but over time has acquired the capability to parse both
RFC3164 and RFC5424. Its transport mechanism is however not changed, it
still uses the traditional transports (some of which is "standard" others
were introduced by syslog-ng and later standardized, your mileage may vary):

   - network(transport(udp)) -- UDP, each datagram is a separate message
   (e.g. no octet count), RFC3164 format only
   - network(transport(tcp)) -- TCP, no TLS, no octet count, RFC3164 format
   only

Now to tell network() that it should accept the 'new' RFC5424 style
messages as well as the traditional ones, use flags(syslog-protocol)

   - network(transport(tcp) flags(syslog-protocol)) -- TCP, no TLS, no
   octet count, either RFC3164 or RFC5424 format (both are accepted and parsed
   correctly)
   - network(transport(tls) flags(syslog-protocol)) -- same as before, but
   encrypted using TLS
   - other combinations are possible

On the other hand, the syslog() source driver was created with RFC5424 in
mind (back in the day, I felt this was the future of logging, therefore I
named the new driver as "syslog", even though the previous ones were syslog
too, but I digress).

   - syslog(transport(tls)) -- TCP, TLS, octet counting, either RFC3164 or
   RFC5424 format (e.g. this is what is described in RFC5425)
   - syslog(transport(tcp)) -- this is the same transport but without TLS,
   e.g. it's not encrypted and has been not standardized (there's some more
   recent RFC which documents something pretty close)
   - syslog(transport(udp)) -- this is UDP based, no octet count, either
   RFC3164 or RFC5424 format (e.g. this matches RFC5426)


Now, I am not sure what your logging client sends at the moment (a pcap
file could help here to be extra sure), but it would be important to
understand which of the above combinations it is using.

Once the transport is identified, there are only two choices. If you pass
flags(syslog-protocol) you will get both recognized (the new one first and
then the other if the first fails).

Also, there's a default-network-drivers() source (
https://www.syslog-ng.com/technical-documents/doc/syslog-ng-open-source-edition/3.37/administration-guide/17#TOPIC-1828969)
which opens the most common combinations on their default ports. With that,
you should be pretty fine with anything that most logging clients will use,
as long as they use the default ports. All of the above you will only need
if you want more control or you have something that completely violates
anything that has been specified.

HTH,


On Mon, Oct 31, 2022, 11:45 caglarkarahan ***@***.***> wrote:

> In case of changing driver as network(), now server does not get syslog
> messages which are RFC 5424 format. Can I receive and parse both message
> type and declare both driver?
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/syslog-ng/syslog-ng/issues/4176#issuecomment-1296907765>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAFOK5TPCXAENKEF3NTZRTDWF6PMLANCNFSM6AAAAAARLDXMQI>
> .
> You are receiving this because you commented.Message ID:
> ***@***.***>
>


Thanks for reply. 

As I understood from your reply and also syslog driver definition (https://www.syslog-ng.com/technical-documents/doc/syslog-ng-open-source-edition/3.37/administration-guide/28#TOPIC-1829011), syslog driver can accept/handle RFC 5424 style messages. But according to below configuration, syslog-ng can not handle this kind of message.  I tried two kind of syslog client. One of them is from https://github.com/jenkinsci/syslog-java-client and below code implies how I send messages. 

```
SyslogMessage msg = new SyslogMessage()
        .withAppName("my-app")
        .withFacility(Facility.USER)
        .withHostname("my-hostname")
        .withMsg("my message over tcp éèà " + new Timestamp(System.currentTimeMillis()))
        .withSeverity(Severity.INFORMATIONAL)
        .withTimestamp(System.currentTimeMillis());

TcpSyslogMessageSender messageSender = new TcpSyslogMessageSender();
messageSender.setSyslogServerHostname("192.168.56.112");
messageSender.setSyslogServerPort(6514);
messageSender.setMessageFormat(MessageFormat.RFC_5424);
messageSender.setSsl(false);

System.out.println(msg.toSyslogMessage(messageSender.getMessageFormat()));

messageSender.sendMessage(msg);
```

The other client is logger ubuntu command which makes entries into system log.  I used as below command. 

`logger -n 192.168.56.112 --tcp --port 6514 hello`

syslog-ng.conf:
```
source s_network {
	syslog(
		ip(192.168.56.112)
		port(6514)
		transport("tcp")
		max-connections(500)
		log-iw-size(5000)
		so-rcvbuf(5120000)
		flags(syslog-protocol)
	);
}; 
```

NOTE: To make a point, this configuration handles the RFC5425 style messages.

Could you please capture the packet via tcpdump or enable debug logging in
syslog-ng and show me the 'Incoming message' line from syslog-ng debug
output?

Thanks

On Thu, Nov 3, 2022, 14:00 caglarkarahan ***@***.***> wrote:

> Thanks for reply.
>
> As I understood from your reply and also syslog driver definition (
> https://www.syslog-ng.com/technical-documents/doc/syslog-ng-open-source-edition/3.37/administration-guide/28#TOPIC-1829011),
> syslog driver can accept/handle RFC 5424 style messages. But according to
> below configuration, syslog-ng can not handle this kind of message. I tried
> two kind of syslog client. One of them is from
> https://github.com/jenkinsci/syslog-java-client and below code implies
> how I send messages.
>
> SyslogMessage msg = new SyslogMessage()
>
>         .withAppName("my-app")
>
>         .withFacility(Facility.USER)
>
>         .withHostname("my-hostname")
>
>         .withMsg("my message over tcp éèà " + new Timestamp(System.currentTimeMillis()))
>
>         .withSeverity(Severity.INFORMATIONAL)
>
>         .withTimestamp(System.currentTimeMillis());
>
>
>
> TcpSyslogMessageSender messageSender = new TcpSyslogMessageSender();
>
> messageSender.setSyslogServerHostname("192.168.56.112");
>
> messageSender.setSyslogServerPort(6514);
>
> messageSender.setMessageFormat(MessageFormat.RFC_5424);
>
> messageSender.setSsl(false);
>
>
>
> System.out.println(msg.toSyslogMessage(messageSender.getMessageFormat()));
>
>
>
> messageSender.sendMessage(msg);
>
>
> The other client is logger ubuntu command which makes entries into system
> log. I used as below command.
>
> logger -n 192.168.56.112 --tcp --port 6514 hello
>
> syslog-ng.conf:
>
> source s_network {
>
> 	syslog(
>
> 		ip(192.168.56.112)
>
> 		port(6514)
>
> 		transport("tcp")
>
> 		max-connections(500)
>
> 		log-iw-size(5000)
>
> 		so-rcvbuf(5120000)
>
> 		flags(syslog-protocol)
>
> 	);
>
> };
>
>
> NOTE: To make a point, this configuration handles the RFC5425 style
> messages.
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/syslog-ng/syslog-ng/issues/4176#issuecomment-1302064093>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAFOK5W2HYAWMNGQD63E673WGOZNRANCNFSM6AAAAAARLDXMQI>
> .
> You are receiving this because you commented.Message ID:
> ***@***.***>
>


Hi,

I've tried logger on my version of Ubuntu, and this is what I saw:

$ logger -n 127.0.0.1 --tcp --port 2000 hello

While on another terminal:
$ nc -l -p 2000
<13>1 2022-11-03T15:50:39.628440+01:00 bzorp bazsi - - [timeQuality
tzKnown="1" isSynced="1" syncAccuracy="358500"] hello


This is RFC5424 format but is not using octet counting, e.g. this can be
processed by a network(transport(tcp)) driver. Note that this is not even
TLS encrypted (which is RFC5425)

With that information, this syslog-ng.conf worked for me to process the
above input:
```
@version: 4.0

log {
    source { network(transport(tcp) port(6514) flags(syslog-protocol)); };
    destination { file("logfile"); };
};
```

If I run syslog-ng in the foreground, with internal log level set to trace,
I get this output from syslog-ng:

[2022-11-03T14:53:00.509200] Incoming log entry; input='<13>1
2022-11-03T15:53:00.508943+01:00 bzorp bazsi - - [timeQuality tzKnown="1"
isSynced="1" syncAccuracy="429000"] hello', msg='0x7ffff0013f90', rcptid='5'
[2022-11-03T14:53:00.509246] Setting value; name='HOST', value='bzorp',
type='string', msg='0x7ffff0013f90', rcptid='5'
[2022-11-03T14:53:00.509257] Setting value; name='PROGRAM', value='bazsi',
type='string', msg='0x7ffff0013f90', rcptid='5'
[2022-11-03T14:53:00.509269] Setting value;
name='.SDATA.timeQuality.tzKnown', value='1', type='string',
msg='0x7ffff0013f90', rcptid='5'
[2022-11-03T14:53:00.509276] Setting value;
name='.SDATA.timeQuality.isSynced', value='1', type='string',
msg='0x7ffff0013f90', rcptid='5'
[2022-11-03T14:53:00.509281] Setting value;
name='.SDATA.timeQuality.syncAccuracy', value='429000', type='string',
msg='0x7ffff0013f90', rcptid='5'
[2022-11-03T14:53:00.509285] Setting value; name='MESSAGE', value='hello',
type='string', msg='0x7ffff0013f90', rcptid='5'
[2022-11-03T14:53:00.509299] >>>>>> Source side message processing begin;
instance='tcp,127.0.0.1', location='etc/syslog-ng-logger.conf:4:11',
msg='0x7ffff0013f90', rcptid='5'
[2022-11-03T14:53:00.509337] Setting value; name='HOST_FROM',
value='localhost', type='string', msg='0x7ffff0013f90', rcptid='5'
[2022-11-03T14:53:00.509345] Setting value; name='HOST', value='localhost',
type='string', msg='0x7ffff0013f90', rcptid='5'
[2022-11-03T14:53:00.509350] Setting tag; name='.source.#anon-source0',
value='1', msg='0x7ffff0013f90'
[2022-11-03T14:53:00.509357] Setting value; name='SOURCE',
value='#anon-source0', type='string', msg='0x7ffff0013f90', rcptid='5'

As you can see this was properly parsed as an RFC5424 message, SDATA
recorded in .SDATA.* fields as it should.

This record was written to my file:

$ cat logfile
Nov  3 15:55:53 localhost bazsi: hello


On Thu, Nov 3, 2022 at 2:52 PM Balazs Scheidler ***@***.***>
wrote:

> Could you please capture the packet via tcpdump or enable debug logging in
> syslog-ng and show me the 'Incoming message' line from syslog-ng debug
> output?
>
> Thanks
>
> On Thu, Nov 3, 2022, 14:00 caglarkarahan ***@***.***> wrote:
>
> > Thanks for reply.
> >
> > As I understood from your reply and also syslog driver definition (
> >
> https://www.syslog-ng.com/technical-documents/doc/syslog-ng-open-source-edition/3.37/administration-guide/28#TOPIC-1829011
> ),
> > syslog driver can accept/handle RFC 5424 style messages. But according to
> > below configuration, syslog-ng can not handle this kind of message. I
> tried
> > two kind of syslog client. One of them is from
> > https://github.com/jenkinsci/syslog-java-client and below code implies
> > how I send messages.
> >
> > SyslogMessage msg = new SyslogMessage()
> >
> > .withAppName("my-app")
> >
> > .withFacility(Facility.USER)
> >
> > .withHostname("my-hostname")
> >
> > .withMsg("my message over tcp éèà " + new
> Timestamp(System.currentTimeMillis()))
> >
> > .withSeverity(Severity.INFORMATIONAL)
> >
> > .withTimestamp(System.currentTimeMillis());
> >
> >
> >
> > TcpSyslogMessageSender messageSender = new TcpSyslogMessageSender();
> >
> > messageSender.setSyslogServerHostname("192.168.56.112");
> >
> > messageSender.setSyslogServerPort(6514);
> >
> > messageSender.setMessageFormat(MessageFormat.RFC_5424);
> >
> > messageSender.setSsl(false);
> >
> >
> >
> >
> System.out.println(msg.toSyslogMessage(messageSender.getMessageFormat()));
> >
> >
> >
> > messageSender.sendMessage(msg);
> >
> >
> > The other client is logger ubuntu command which makes entries into system
> > log. I used as below command.
> >
> > logger -n 192.168.56.112 --tcp --port 6514 hello
> >
> > syslog-ng.conf:
> >
> > source s_network {
> >
> > syslog(
> >
> > ip(192.168.56.112)
> >
> > port(6514)
> >
> > transport("tcp")
> >
> > max-connections(500)
> >
> > log-iw-size(5000)
> >
> > so-rcvbuf(5120000)
> >
> > flags(syslog-protocol)
> >
> > );
> >
> > };
> >
> >
> > NOTE: To make a point, this configuration handles the RFC5425 style
> > messages.
> >
> > —
> > Reply to this email directly, view it on GitHub
> > <
> https://github.com/syslog-ng/syslog-ng/issues/4176#issuecomment-1302064093
> >,
> > or unsubscribe
> > <
> https://github.com/notifications/unsubscribe-auth/AAFOK5W2HYAWMNGQD63E673WGOZNRANCNFSM6AAAAAARLDXMQI
> >
> > .
> > You are receiving this because you commented.Message ID:
> > ***@***.***>
> >
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/syslog-ng/syslog-ng/issues/4176#issuecomment-1302147071>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAFOK5X2PN5G4BGR6Z2PSNLWGO7QDANCNFSM6AAAAAARLDXMQI>
> .
> You are receiving this because you are subscribed to this thread.Message
> ID: ***@***.***>
>


-- 
Bazsi


Thanks for your reply. 

I have used network() driver before for RFC5424 messages. To parse RFC 5425 messages, I tried and configured as syslog() driver. So to clarify issue, we have to do multiple port configuration for both message types. We could not handle both of them from same port. 

Thanks.  