syslog-ng does not switch from the primary server to a failover after primary servers's catastrophic failure

# syslog-ng
## Version of syslog-ng
<!-- $ syslog-ng --version -->
```
syslog-ng 3 (3.33.2)
Config version: 3.33
Installer-Version: 3.33.2
Revision:
Compile-Date: Jul 20 2021 15:46:39
Module-Directory: /usr/lib64/syslog-ng
Module-Path: /usr/lib64/syslog-ng
Include-Path: /usr/share/syslog-ng/include
Available-Modules: add-contextual-data,affile,afprog,afsocket,afstomp,afuser,appmodel,basicfuncs,cef,confgen,cryptofuncs,csvparser,dbparser,disk-buffer,examples,graphite,hook-commands,json-plugin,kvformat,linux-kmsg-format,map-value-pairs,pseudofile,sdjournal,stardate,syslogformat,system-source,tags-parser,tfgetent,timestamp,xml,azure-auth-header,http
Enable-Debug: off
Enable-GProf: off
Enable-Memtrace: off
Enable-IPv6: on
Enable-Spoof-Source: on
Enable-TCP-Wrapper: on
Enable-Linux-Caps: on
Enable-Systemd: on
```
## Platform
<!-- Name and version of OS -->
```
CentOS Linux release 7.9.2009 (Core)
```

# Issue
## Failure

In HA configuration, where log destination is configured to switch node in case of destination failure, failover does not occure when primary node catastrophically fails (unexpected power failure). TCP session with the primary node stays intact despite the fact that at the socket level keepalive is turned on.  Although after primary node failure, disk spooling kicks in and incoming messages are store in disk queue but at the TCP level, log destination does not switched over to a failover server(s)

Failover works as expected when receiving process is gracefully stopped on destination node. 

## Steps to reproduce
<!-- A description of how to trigger this bug. -->

## Configuration
<!-- $ cat /path/to/syslog-ng.conf -->
```

source s_listener_ietf_tcp_test {
    syslog(
        ip(172.30.1.1),
        port(5514),
        transport("tcp"),
        flags("threaded","validate-utf8"),
        max-connections(600),
        so-keepalive(yes),
        tags("s_ietf_tcp_test")
    );

  syslog(
        ip(172.30.1.1),
        port(5514),
        transport("udp"),
        flags("threaded","validate-utf8"),
        max-connections(600),
        so-keepalive(yes),
        tags("s_ietf_udp_test")
    );

source s_input_test {
    channel {
        source(s_listener_ietf_tcp_test);
        source(s_listener_ietf_udp_test);
    };
};

destination d_forward {
  syslog("primary.node.net"
    transport("tcp")
    port(5514)
    time-reopen(15)
    so-keepalive(yes)
    tcp-keepalive-intvl(2),
    tcp-keepalive-time(3),
    tcp-keepalive-probes(5),

    failover(
      servers("secondary.node.net")
      failback(
        tcp-probe-interval(20)
        successful-probes-required(3)
      )
    )

    disk-buffer(
      mem-buf-length(100000)
      disk-buf-size(1073741824)
      reliable(no)
      dir("/var/lib/syslog-ng")
    )
  );
};

log {
  source(s_input_test);
  destination(d_forward);
  flags(flow-control);
};

```


## Input and output logs (if possible)


Hi @jkimalane 

TCP Keep-alive packets are sent when there is no communication on the socket. If I understand correctly, the `d_forward` destination was sending logs when the connection broke. 

When the client does not receive reply to an outgoing packet, TCP Retransmission happens. The TCP Retransmission packets are sent with an increasing timeout, until a certain number of retransmission happens. See `tcp_retries2` at https://man7.org/linux/man-pages/man7/tcp.7.html:
```
       tcp_retries2 (integer; default: 15; since Linux 2.2)
              The maximum number of times a TCP packet is retransmitted
              in established state before giving up.  The default value
              is 15, which corresponds to a duration of approximately
              between 13 to 30 minutes, depending on the retransmission
              timeout.  The RFC 1122 specified minimum limit of 100
              seconds is typically deemed too short.
```
You can change this value by modifying `/proc/sys/net/ipv4/tcp_retries2` on your system. I have read somewhere, that the value 8 corresponds to approximately 100 seconds.

Since Linux 2.6.37 a similar parameter can be set by applications, not sure yet if it solves the problem. See `TCP_USER_TIMEOUT` at https://man7.org/linux/man-pages/man7/tcp.7.html:
```
       TCP_USER_TIMEOUT (since Linux 2.6.37)
              This option takes an unsigned int as an argument.  When
              the value is greater than 0, it specifies the maximum
              amount of time in milliseconds that transmitted data may
              remain unacknowledged, or bufferred data may remain
              untransmitted (due to zero window size) before TCP will
              forcibly close the corresponding connection and return
              ETIMEDOUT to the application.  If the option value is
              specified as 0, TCP will use the system default.

              Increasing user timeouts allows a TCP connection to
              survive extended periods without end-to-end connectivity.
              Decreasing user timeouts allows applications to "fail
              fast", if so desired.  Otherwise, failure may take up to
              20 minutes with the current system defaults in a normal
              WAN environment.

              This option can be set during any state of a TCP
              connection, but is effective only during the synchronized
              states of a connection (ESTABLISHED, FIN-WAIT-1, FIN-
              WAIT-2, CLOSE-WAIT, CLOSING, and LAST-ACK).  Moreover,
              when used with the TCP keepalive (SO_KEEPALIVE) option,
              TCP_USER_TIMEOUT will override keepalive to determine when
              to close a connection due to keepalive failure.

              The option has no effect on when TCP retransmits a packet,
              nor when a keepalive probe is sent.

              This option, like many others, will be inherited by the
              socket returned by accept(2), if it was set on the
              listening socket.

              Further details on the user timeout feature can be found
              in RFC 793 and RFC 5482 ("TCP User Timeout Option").
```
Currently `syslog-ng` does not support setting `TCP_USER_TIMEOUT` from config, like we do with the keepalive parameters, but I will check whether we can easily implement it.

Cheers,
Attila